
body {

    background-color: #8ecae6;
}

.navbar {
    
    background-color: #023047; 
    color: white; 
}

.grid {

    display: flex;  
    flex-wrap: wrap; 
    gap: 10px; 
    margin: 0 auto;
  
}

/* .grid-item {

} */

.button-class {
    width: 300px; 
    background-color: none;
    border: 1px solid violet;
    padding: 10px; 
    color:black; 

}

/* .button:hover {

}  */