:root {
    --pokemon-yellow: #ffde00;
    --pokemon-blue: #3b4cca;
    --pokemon-red: #c00;
    --pokemon-green: #3d854d;
    --primary-font: fira-sans, sans-serif;
    --secondary-font: roboto, sans-serif
}

@font-face {
    font-family: fira-sans;
    src: url('../fonts/FiraSans-Regular.ttf')
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf')
}

body {
    min-height: 100vh
}

h1 {
    font-family: var(--primary-font);
    color: var(--pokemon-blue)
}

h2 {
    font-family: var(--secondary-font)
}

h3 {
    font-family: var(--primary-font)
}

li,
a {
    font-family: var(--primary-font);
    color: var(--pokemon-blue)
}

h4,
h5,
h6 {
    font-family: var(--secondary-font)
}

p {
    font-family: var(--secondary-font)
}

.pokemon-list .list-group-item {
    width: 200px;
    font-family: var(--primary-font);
    background-color: var(--pokemon-blue)
}

#scrollBtn {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 32px;
    background-color: var(--pokemon-red);
    z-index: 99
}

body {
    background: url('../img/background.jpg') no-repeat fixed center/cover
}

main.container {
    background-color: var(--pokemon-yellow);
    max-width: 300px !important
}

img,
a {
    outline: none !important
}

.navbar {
    background-color: var(--pokemon-blue)
}

.navbar-brand img {
    width: 100px
}

.hamburger-icon {
    color: #fff;
    font-size: 1.25em
}

.hamburger-icon:hover,
.hamburger-icon:focus {
    color: var(--pokemon-yellow)
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    outline: none !important;
    transition: all 300ms ease-in-out
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
    color: var(--pokemon-yellow)
}

#search {
    border: 2px solid transparent !important;
    box-shadow: none !important;
    outline: none !important;
    transition: all 300ms ease-in-out
}

#search:focus {
    border-color: var(--pokemon-blue) !important
}

.modal-title {
    color: var(--pokemon-blue)
}

#modalHeaderPokemon {
    background-color: var(--pokemon-yellow)
}

#modalTitle {
    font-size: 24px
}

#modalCloseBtn {
    color: var(--pokemon-red);
    opacity: .75
}

#modalCloseBtn:hover,
#modalCloseBtn:focus {
    opacity: 1
}

.card {
    font-size: 14px
}

.card-header#infoHeader {
    background-color: var(--pokemon-green)
}

.card-header#statsHeader {
    background-color: var(--pokemon-blue)
}

.card-header#abilitiesHeader {
    background-color: var(--pokemon-red)
}

.card-body {
    color: var(--pokemon-blue)
}

.pokemon-list-item {
    transition: all 300ms ease-in-out
}

.pokemon-list-item:hover,
.pokemon-list-item:focus {
    transform: scale(1.07)
}

.modal-header-contact {
    background-color: var(--pokemon-blue)
}

#submit {
    background-color: var(--pokemon-blue)
}

textarea {
    resize: vertical;
    min-height: 100px
}

footer {
    position: fixed;
    bottom: 0;
    padding: 8px
}

footer a {
    color: var(--pokemon-yellow)
}

button {
    outline: none !important;
    box-shadow: none !important
}

#aboutModal h4 {
    color: var(--pokemon-blue)
}